.sidebar {
    width: 240px;
    height: calc(100vh - 60px); /* Adjust according to your navbar height */
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 5px;
    transition: 0.3s;
    overflow: scroll;
}

.sidebarHide {
    width: 70px;
    transition: 0.3s;
    overflow-x: hidden;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
}

.menu:hover {
    background-color: #e5e5e5;
}

.heading {
    font-size: 17px;
    font-weight: 600;
    margin: 15px 15px 8px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}